/*************** Styles liés au champ de recherches ***************/

#searchFilter  {
  display: inline-block;
  width: 80%;
}

#numOperations {
  font-weight: bold;
  text-align: right;
  float: right;
  padding-top: 7px;
}

/*************** Styles liés à la liste d'opérations ***************/

#operationsList {
  font-size: 11px;
  margin-top: 20px;
  max-height: 450px;
  overflow-y: auto;
}

#operationsList .ng-table-pager {
  display: none;
}

#operationsList > table {
  margin-bottom: 0;
}

#operationsList > table thead {
  background: #fff;
}

#operationsList > table > tbody > tr > td {
  padding: 0;
}

.bankOperation:hover {
  background-color: #e3f2fd;
  cursor: pointer;
}

/*************** Styles aux infos contenues dans la liste d'opérations ***************/

.negative {
  color: red;
}

.future {
  background-color: #eeeeee;
}

.amount {
  text-align: right;
}

/*************** Styles liés à la zone d'édition ***************/

.editTab {
  border:1px solid #ddd;
  border-top:inherit;
  border-radius: 4px 4px 0 0;
  padding:10px;
}

.editTab .newOperationBtn, .editTab .editOperationBtn {
  margin-bottom: 20px;
}

.editTab .actionBtns {
  float: right;
}

.editTab .actionBtns button, .editTab .newOperationBtn, .editTab .editOperationBtn {
  width: 135px;
}

.editPanelLeft {
  float: left;
  width: 75%;
  padding-right: 25px;
}

.editPanelRight {
  float: right;
  width: 25%;
}

.editPanelLeft table, .editPanelRight table {
  width: 100%;
}

.editPanelLeft table td, .editPanelRight table td {
  padding-bottom: 2px;
}

.editPanelLeft table td.fieldLabel, .editPanelRight table td.fieldLabel {
  width: 1%;
  white-space: nowrap;
  padding-right: 15px;
}

.editPanelLeft table td.subCategoryLabel {
  padding-left: 25px;
}

.editPanelLeft table td.notesLabel {
  vertical-align: top;
}

.editPanelLeft table .notes {
  width: 100%;
  height: 50px;
}

.editPanelLeft table .input-sm, .editPanelRight table .input-sm {
  height: 25px;
  font-size: 11px;
}

.editPanelLeft table textarea {
  font-size: 11px;
}

/*************** Styles liés aux soldes ***************/

.currentBalance, .finalBalance, .currentBalanceHeader, .finalBalanceHeader {
  font-weight: bold;
  font-size: 1.1em;
}

td.currentBalanceHeader, td.finalBalanceHeader {
  text-transform: uppercase;
  text-align: right;
}

.balanceTable > tbody > tr > td.currentBalance, .balanceTable > tbody > tr > td.finalBalance {
  width: 1%;
  padding-left: 20px;
}

.dropdown-menu{
  max-height:250px;
  overflow:auto;
  font-size: 11px;
}
