body {
  font-family: 'Verdana', 'Tahoma', 'serif';
  font-size: 10px;
}

.bankOperation:hover {
  background-color: #e3f2fd;
  cursor: pointer;
}

#numOperations {
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 15px;
}

.negative {
  color: red;
}

.future {
  background-color: #eeeeee;
}

.amount {
  text-align: right;
}

.currentBalance, .finalBalance, .currentBalanceHeader, .finalBalanceHeader {
  font-weight: bold;
  font-size: 1.1em;
}

td.currentBalanceHeader, td.finalBalanceHeader {
  text-transform: uppercase;
  text-align: right;
}

