/*************** Styles liés aux sous-catégories ***************/

#subCategoriesBlock {
  float: left;
  min-width: 20%;
}

.action {
  cursor: pointer;
}

.unshown {
  opacity: 0.2;
}

/*************** Styles liés à la liste d'opérations ***************/

#operationsList {
  font-size: 11px;
  margin-top: 20px;
  max-height: 450px;
  overflow-y: auto;
}

#operationsList .ng-table-pager {
  display: none;
}

#operationsList > table {
  margin-bottom: 0;
}

#operationsList > table thead {
  background: #fff;
}

#operationsList > table > tbody > tr > td {
  padding: 0;
}

.bankOperation:hover {
  background-color: #e3f2fd;
}

/*************** Styles liés aux infos contenues dans la liste d'opérations ***************/

.negative {
  color: red;
}

.future {
  background-color: #eeeeee;
}

.amount {
  text-align: right;
}

/*************** Styles liés aux graphes ***************/

#upperGraph {
  display: inline-block;
  width: 70%;
  margin-left:25px;
}

#bigGraph {
  width: 100%;
  height: 500px;
}

.legendBloc {
  width: 30px;
  height: 15px;
}

.legendCol {
  width: 30px;
}

.iconCol {
  width: 8px;
}

