#headerArea {
  text-align: center;
}

#accountSelection {
  float: left;
}

#versusGraph {
  width: 300px;
  height: 300px;
  float: right;
}

#versusResults {
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}

#versusResults .diff {
  height: 75px;
}

#versusResults .diff.good {
  color: green;
}

#versusResults .diff.bad {
  color: red;
}

#versusResults .type {
  padding-right: 15px;
}

#versusResults .percentage {
  padding-left: 15px;
  font-weight: normal;
}

.table-condensed > tbody > tr > td.subCategory {
  padding-left: 30px;
}

table.table:first-of-type {
  float: left;
  width: 45%;
  margin-left: 40px;
}

table.table:last-of-type {
  float: right;
  width: 45%;
  margin-right: 40px;
}

table th {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

.categoryLine {
  background-color: #f9f9f9;
  font-weight: bold;
}
