<table id="chargeCategoriesTable" class="table table-condensed">
  <tr>
    <th colspan="5">Charges</th>
  </tr>
  <tbody ng-repeat="category in CategoriesCtrl.chargeCategories">
    <tr class="line categoryLine">
      <td class="category editable">
        <span ng-hide="CategoriesCtrl.isCategoryConcernedByEdit($index, 'charge')">{{category.name}}</span>
        <input type="text"
               class="form-control input-sm"
               ng-model="CategoriesCtrl.editedLabel"
               ng-model-onblur
               ng-show="CategoriesCtrl.isCategoryConcernedByEdit($index, 'charge')"
               ng-keyup="CategoriesCtrl.handleInputKeyPress($event)"
               ng-blur="CategoriesCtrl.validateCategoryEdit($index, 'charge')"/>
      </td>
      <td>
        <span class="glyphicon glyphicon-pencil action" aria-hidden="true" title="Renommer" ng-click="CategoriesCtrl.startEditingCategory($index, 'charge')"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Supprimer"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-eye-open action" aria-hidden="true" title="Plus d'infos sur la catégorie" ng-click="CategoriesCtrl.showCategoryBankOperations($index, 'charge')"></span>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="subCategory in category.subCategories" class="line">
      <td class="subCategory">
        <span ng-hide="CategoriesCtrl.isSubCategoryConcernedByEdit($parent.$index, $index, 'charge')">{{subCategory.name}}</span>
        <input type="text"
               class="form-control input-sm"
               ng-model="CategoriesCtrl.editedLabel"
               ng-model-onblur
               ng-show="CategoriesCtrl.isSubCategoryConcernedByEdit($parent.$index, $index, 'charge')"
               ng-keyup="CategoriesCtrl.handleInputKeyPress($event)"
               ng-blur="CategoriesCtrl.validateSubCategoryEdit($parent.$index, $index, 'charge')"/>
      </td>
      <td>
        <span class="glyphicon glyphicon-pencil action" aria-hidden="true" title="Renommer" ng-click="CategoriesCtrl.startEditingSubCategory($parent.$index, $index, 'charge')"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Supprimer"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-eye-open action" aria-hidden="true" title="Plus d'infos sur la sous-catégorie" ng-click="CategoriesCtrl.showSubCategoryBankOperations($parent.$index, $index, 'charge')"></span>
      </td>
      <td>
        <span ng-show="!CategoriesCtrl.isConcernedByMoving(subCategory)" class="glyphicon glyphicon-transfer action" aria-hidden="true" title="Déplacer" ng-click="CategoriesCtrl.startMoving(category, subCategory, 'charge')"></span>
        <div ng-show="CategoriesCtrl.isConcernedByMoving(subCategory)">
          <select ng-model="CategoriesCtrl.movingInfos.dstCategory" ng-options="category.name for category in CategoriesCtrl.chargeCategories"></select>
          <span class="glyphicon glyphicon-ok action" aria-hidden="true" title="Valider" ng-click="CategoriesCtrl.finishMoving($index)"></span>
          <span class="glyphicon glyphicon-remove action" aria-hidden="true" title="Annuler" ng-click="CategoriesCtrl.cancelMoving()"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-condensed">
  <tr>
    <th colspan="5">Crédits</th>
  </tr>
  <tbody ng-repeat="category in CategoriesCtrl.creditCategories">
    <tr class="line categoryLine">
      <td class="category editable">
        <span ng-hide="CategoriesCtrl.isCategoryConcernedByEdit($index, 'credit')">{{category.name}}</span>
        <input type="text"
               class="form-control input-sm"
               ng-model="CategoriesCtrl.editedLabel"
               ng-model-onblur
               ng-show="CategoriesCtrl.isCategoryConcernedByEdit($index, 'credit')"
               ng-keyup="CategoriesCtrl.handleInputKeyPress($event)"
               ng-blur="CategoriesCtrl.validateCategoryEdit($index, 'credit')"/>
      </td>
      <td>
        <span class="glyphicon glyphicon-pencil action" aria-hidden="true" ng-click="CategoriesCtrl.startEditingCategory($index, 'credit')"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-eye-open action" aria-hidden="true" ng-click="CategoriesCtrl.showCategoryBankOperations($index, 'credit')"></span>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="subCategory in category.subCategories" class="line">
      <td class="subCategory editable">
        <span ng-hide="CategoriesCtrl.isSubCategoryConcernedByEdit($parent.$index, $index, 'credit')">{{subCategory.name}}</span>
        <input type="text"
               class="form-control input-sm"
               ng-model="CategoriesCtrl.editedLabel"
               ng-model-onblur
               ng-show="CategoriesCtrl.isSubCategoryConcernedByEdit($parent.$index, $index, 'credit')"
               ng-keyup="CategoriesCtrl.handleInputKeyPress($event)"
               ng-blur="CategoriesCtrl.validateSubCategoryEdit($parent.$index, $index, 'credit')"/>
      </td>
      <td>
        <span class="glyphicon glyphicon-pencil action" aria-hidden="true" ng-click="CategoriesCtrl.startEditingSubCategory($parent.$index, $index, 'credit')"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-eye-open action" aria-hidden="true" ng-click="CategoriesCtrl.showSubCategoryBankOperations($parent.$index, $index, 'credit')"></span>
      </td>
      <td>
        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
      </td>
    </tr>
  </tbody>
</table>
