<h3>{{CategoryInfosCtrl.category.name}}</h3>

<div id="subCategoriesBlock">
  <table id="subCategories" class="table table-condensed">
    <tr ng-repeat="subCategory in CategoryInfosCtrl.category.subCategories">
      <td class="legendCol">
        <div class="legendBloc" ng-style="{'background-color':CategoryInfosCtrl.getSubCategoryColor(subCategory.id)}"></div>
      </td>
      <td>{{subCategory.name}}</td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-stats action" aria-hidden="true" title="Voir sur le graphe" ng-class="{unshown: !CategoryInfosCtrl.isSubCategoryShownOnGraph(subCategory)}" ng-click="CategoryInfosCtrl.toggleShowOnGraph(subCategory.id)"></span>
      </td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-pencil action" aria-hidden="true" title="Renommer" ng-click="CategoryInfosCtrl.startEditingCategory($index)"></span>
      </td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Supprimer"></span>
      </td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-eye-open action" aria-hidden="true" title="Plus d'infos sur la sous-catégorie" ng-click="CategoryInfosCtrl.showCategoryBankOperations($index)"></span>
      </td>
    </tr>
    <tr ng-show="CategoryInfosCtrl.isCreating">
      <td class="legendCol">
        <div class="legendBloc"></div>
      </td>
      <td>
        <input type="text"
               class="form-control input-sm small"
               ng-model="CategoryInfosCtrl.newSubCategory.name"/>
      </td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-ok action" aria-hidden="true" ng-click="CategoryInfosCtrl.finishCreating()"></span>
      </td>
      <td class="iconCol">
        <span class="glyphicon glyphicon-remove action" aria-hidden="true" ng-click="CategoryInfosCtrl.cancelCreating()"></span>
      </td>
      <td class="iconCol"></td>
      <td class="iconCol"></td>
    </tr>
    <tr>
      <td class="legendCol">
        <div class="legendBloc" ng-style="{'background-color':CategoryInfosCtrl.getSubCategoryColor(-1)}"></div>
      </td>
      <td>Aucune sous-catégorie</td>
      <td class="iconCol"></td>
      <td class="iconCol"></td>
      <td class="iconCol"></td>
      <td class="iconCol"></td>
    </tr>
  </table>

  <button class="btn btn-sm" ng-show="!CategoryInfosCtrl.isCreating" ng-click="CategoryInfosCtrl.startCreating()">Nouveau</button>
</div>

<div id="upperGraph">
  <label for="duration">Période de référence</label>
  <select id="duration"
          ng-model="CategoryInfosCtrl.duration"
          ng-change="CategoryInfosCtrl.updateChart()"
          ng-options="n for n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
  </select>
  <select id="period"
          ng-model="CategoryInfosCtrl.period"
          ng-change="CategoryInfosCtrl.updateChart()">
    <option value="month">Mois</option>
    <option value="year">Année</option>
  </select>

  <div id="bigGraph" google-chart chart="CategoryInfosCtrl.chartConfig"></div>
</div>

<br class="clear"/>

<div id="operationsList">
  <table ng-table="CategoryInfosCtrl.tableParams" show-filter="false" class="table table-condensed" fixed-table-headers="operationsList">
    <tr ng-repeat="operation in $data"
        class="bankOperation"
        ng-class="{ 'future': operation.operationDate > CategoryInfosCtrl.today }"
        on-finish-render="ngRepeatFinished">
      <td data-title="'ID'" sortable="'id'">{{operation.id}}</td>
      <td data-title="'Sous-catégorie'" sortable="'subCategory.name'">{{operation.subCategory.name}}</td>
      <td data-title="'Num chèque'" sortable="'bankNoteNum'">{{operation.bankNoteNum}}</td>
      <td data-title="'Date'" sortable="'operationDate'">{{operation.operationDateHuman}}</td>
      <td data-title="'Tiers'" sortable="'thirdParty.name'">{{operation.thirdParty.name}}</td>
      <td data-title="'Montant'" class="amount">
        <span ng-class="{negative: operation.amount < 0}">{{operation.amount | currency}}</span>
      </td>
    </tr>
  </table>
</div>
