<div class="editTab">
  <button type="button"
          class="btn btn-primary btn-xs newOperationBtn"
          ng-click="AccountDetailsCtrl.addNewOperation('CREDIT')"
          ng-disabled="AccountDetailsCtrl.isEditing">Nouveau</button>

  <button type="button"
          class="btn btn-xs editOperationBtn"
          ng-click="AccountDetailsCtrl.editCurrentOperation()"
          ng-disabled="AccountDetailsCtrl.isEditing || !AccountDetailsCtrl.operationSelected">Modifier</button>

  <div>
    <div class="editPanelLeft">
      <table>
        <tr>
          <td class="fieldLabel">De</td>
          <td colspan="3">
            <input type="text"
                   ng-model="AccountDetailsCtrl.currentBankOperation.thirdParty"
                   typeahead="thirdParty as thirdParty.name for thirdParty in AccountDetailsCtrl.thirdParties | filter:$viewValue"
                   typeahead-min-length="0"
                   class="form-control input-sm"
                   ng-disabled="!AccountDetailsCtrl.isEditing"
                   required/>
          </td>
        </tr>
        <tr>
          <td class="fieldLabel">Catégorie</td>
          <td>
            <input type="text"
                   ng-model="AccountDetailsCtrl.currentBankOperation.category"
                   typeahead="category as category.name for category in AccountDetailsCtrl.creditCategories | filter:$viewValue "
                   typeahead-min-length="0"
                   class="form-control input-sm"
                   ng-disabled="!AccountDetailsCtrl.isEditing"
                   required/>
            </select>
          </td>
          <td class="fieldLabel subCategoryLabel">Sous-catégorie</td>
          <td>
            <input type="text"
                   ng-disabled="!AccountDetailsCtrl.currentBankOperation.category || !AccountDetailsCtrl.isEditing"
                   ng-model="AccountDetailsCtrl.currentBankOperation.subCategory"
                   typeahead="subCategory as subCategory.name for subCategory in AccountDetailsCtrl.currentBankOperation.category.subCategories | filter:$viewValue "
                   typeahead-min-length="0"
                   class="form-control input-sm"/>
          </td>
        </tr>
        <tr>
          <td class="fieldLabel notesLabel">
            Notes
          </td>
          <td colspan="3">
            <textarea ng-model="AccountDetailsCtrl.currentBankOperation.notes" class="form-control notes" ng-disabled="!AccountDetailsCtrl.isEditing"></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="editPanelRight">
      <table>
        <tr>
          <td>Num chèque</td>
          <td>
            <input type="text"
                   class="form-control input-sm"
                   ng-model="AccountDetailsCtrl.currentBankOperation.bankNoteNum"
                   ng-disabled="!AccountDetailsCtrl.isEditing"/>
          </td>
        </tr>
        <tr>
          <td>Date</td>
          <td>
            <input type="text"
                   class="form-control input-sm"
                   ng-model="AccountDetailsCtrl.currentBankOperation.operationDate"
                   ng-keypress="AccountDetailsCtrl.handleDateChangeByKeyboard($event)"
                   ng-disabled="!AccountDetailsCtrl.isEditing"
                   required/>
          </td>
        </tr>
        <tr>
          <td>Montant</td>
          <td>
            <input type="number"
                   class="form-control input-sm"
                   ng-model="AccountDetailsCtrl.currentBankOperation.credit"
                   ng-disabled="!AccountDetailsCtrl.isEditing"
                   required/>
          </td>
        </tr>
      </table>
    </div>
    <br class="clear"/>
  </div>

  <div class="actionBtns">
    <button type="submit"
            class="btn btn-primary btn-xs"
            ng-click="AccountDetailsCtrl.save()"
            ng-disabled="!AccountDetailsCtrl.isEditing">Saisir</button>
    <button type="reset"
            class="btn btn-xs"
            ng-click="AccountDetailsCtrl.cancelEditing()"
            ng-disabled="!AccountDetailsCtrl.isEditing">Annuler</button>
  </div>
  <br class="clear"/>
</div>
