<!--ACC {{AccountDetailsCtrl.bankOperations}}<br />-->
<!--BOP {{AccountDetailsCtrl.currentBankOperation}}<br /><br />-->
<!--CAT {{AccountDetailsCtrl.chargeCategories}}<br />-->

<h3>{{AccountDetailsCtrl.account.name}}</h3>

<input type="text"
       class="input-filter form-control"
       ng-model="AccountDetailsCtrl.search"
       ng-focus="AccountDetailsCtrl.watchFilter()"
       ng-blur="AccountDetailsCtrl.unwatchFilter()"
       placeholder="Rechercher un tiers, une date, un numéro de chèque"/>

<p id="numOperations">{{AccountDetailsCtrl.bankOperations.length}} / {{AccountDetailsCtrl.totalNumOperations}} opérations</p>

<table ng-table="AccountDetailsCtrl.tableParams" show-filter="false" class="table table-condensed">
  <tr ng-repeat="operation in $data"
      class="bankOperation"
      ng-class="{ 'future': operation.operationDate > AccountDetailsCtrl.today }"
      ng-click="AccountDetailsCtrl.editOperation(operation)">
    <td data-title="'ID'">{{operation.id}}</td>
    <td data-title="'Echéance'"></td>
    <td data-title="'Num chèque'" sortable="'bankNoteNum'">{{operation.bankNoteNum}}</td>
    <td data-title="'Date'" sortable="'operationDate'">{{operation.operationDateHuman}}</td>
    <td data-title="''">
      <span ng-if="operation.balanceState == 'PENDING'">P</span>
      <span ng-if="operation.balanceState == 'BALANCED'">R</span>
    </td>
    <td data-title="'Payé à'" sortable="'thirdParty.name'">{{operation.thirdParty.name}}</td>
    <td data-title="'Débit'" sortable="'charge'" class="amount">{{operation.charge | currency}}</td>
    <td data-title="'Crédit'" sortable="'credit'" class="amount">{{operation.credit | currency}}</td>
    <td data-title="'Solde'" ng-class="{negative: operation.balance < 0}" class="amount">{{operation.balance | currency}}</td>
  </tr>
  <tr>
    <td colspan="8" class="currentBalanceHeader">
      Solde du jour
    </td>
    <td class="currentBalance amount">
      <span ng-class="{negative: AccountDetailsCtrl.account.currentBalance < 0}">{{AccountDetailsCtrl.account.currentBalance | currency}}</span>
    </td>
  </tr>
  <tr>
    <td colspan="8" class="finalBalanceHeader">
      Solde final
    </td>
    <td class="finalBalance amount">
      <span ng-class="{negative: AccountDetailsCtrl.account.finalBalance < 0}">{{AccountDetailsCtrl.account.finalBalance | currency}}</span>
    </td>
  </tr>
</table>

<div>
  <tabset justified="true">
    <tab heading="Débit" select="AccountDetailsCtrl.onChargeTab()">
      <button type="button" ng-click="AccountDetailsCtrl.addNewOperation('CHARGE')">Nouveau</button>
      <div>
        <div>
          <table>
            <tr>
              <td>Payé à</td>
              <td>
                <input type="text"
                       ng-model="AccountDetailsCtrl.currentBankOperation.thirdParty"
                       typeahead="thirdParty as thirdParty.name for thirdParty in AccountDetailsCtrl.thirdParties | filter:$viewValue "
                       typeahead-min-length="0"/>
              </td>
            </tr>
            <tr>
              <td>Catégorie</td>
              <td>
                <input type="text"
                       ng-model="AccountDetailsCtrl.currentBankOperation.category"
                       typeahead="category as category.name for category in AccountDetailsCtrl.chargeCategories | filter:$viewValue "
                       typeahead-min-length="0"
                       required/>
                </select>
              </td>
            </tr>
            <tr>
              <td>Sous-catégorie</td>
              <td>
                <input type="text"
                       ng-disabled="!AccountDetailsCtrl.currentBankOperation.category"
                       ng-model="AccountDetailsCtrl.currentBankOperation.subCategory"
                       typeahead="subCategory as subCategory.name for subCategory in AccountDetailsCtrl.currentBankOperation.category.subCategories | filter:$viewValue "
                       typeahead-min-length="0"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea ng-model="AccountDetailsCtrl.currentBankOperation.notes"></textarea>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <tr>
              <td>Num chèque</td>
              <td><input type="text" ng-model="AccountDetailsCtrl.currentBankOperation.bankNoteNum"/></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="text" ng-model="AccountDetailsCtrl.currentBankOperation.operationDate"/></td>
            </tr>
            <tr>
              <td>Montant</td>
              <td><input type="number" ng-model="AccountDetailsCtrl.currentBankOperation.charge"/></td>
            </tr>
          </table>
        </div>
      </div>

      <button type="submit" ng-click="AccountDetailsCtrl.save()">Saisir</button>
      <button type="reset">Annuler</button>
    </tab>
    <tab heading="Crédit" select="AccountDetailsCtrl.onCreditTab()">
      <button type="button" ng-click="AccountDetailsCtrl.addNewOperation('CREDIT')">Nouveau</button>
      <div>
        <div>
          <table>
            <tr>
              <td>De</td>
              <td>
                <input type="text"
                       ng-model="AccountDetailsCtrl.currentBankOperation.thirdParty"
                       typeahead="thirdParty as thirdParty.name for thirdParty in AccountDetailsCtrl.thirdParties | filter:$viewValue"
                       typeahead-min-length="0"/>
              </td>
            </tr>
            <tr>
              <td>Catégorie</td>
              <td>
                <input type="text"
                       ng-model="AccountDetailsCtrl.currentBankOperation.category"
                       typeahead="category as category.name for category in AccountDetailsCtrl.creditCategories | filter:$viewValue "
                       typeahead-min-length="0"
                       required/>
                </select>
              </td>
            </tr>
            <tr>
              <td>Sous-catégorie</td>
              <td>
                <input type="text"
                       ng-disabled="!AccountDetailsCtrl.currentBankOperation.category"
                       ng-model="AccountDetailsCtrl.currentBankOperation.subCategory"
                       typeahead="subCategory as subCategory.name for subCategory in AccountDetailsCtrl.currentBankOperation.category.subCategories | filter:$viewValue "
                       typeahead-min-length="0"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea ng-model="AccountDetailsCtrl.currentBankOperation.notes"></textarea>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <tr>
              <td>Num chèque</td>
              <td><input type="text" ng-model="AccountDetailsCtrl.currentBankOperation.bankNoteNum"/></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="text" ng-model="AccountDetailsCtrl.currentBankOperation.operationDate"/></td>
            </tr>
            <tr>
              <td>Montant</td>
              <td><input type="number" ng-model="AccountDetailsCtrl.currentBankOperation.credit"/></td>
            </tr>
          </table>
        </div>
      </div>

      <button type="submit" ng-click="AccountDetailsCtrl.save()">Saisir</button>
      <button type="reset">Annuler</button>
    </tab>
  </tabset>
</div>
